
* {
    margin: 0px;
    padding: 0px;
}

/* ID SELECTORS */
#main-container {
    float: left;
    width: 100%;
}


#wrapper {
    width: 70%;
    margin: 0 auto;
}

#top-section {

}

#mid-section {

}

#bottom-section {

}