/* reset browser defaults */
* {
    margin: 0;
    padding: 0;
}

/* ID SELECTORS */
#main-container {
    float: left;
    width: 100%;
}

#top-section {
    background-image: url("https://raw.githubusercontent.com/Digivice/digivice.github.io/master/res/media/images/kite.jpg");
}

#middle-section {
    background-image: url("https://raw.githubusercontent.com/Digivice/digivice.github.io/master/res/media/images/white.jpg");
}

#bottom-section {
    background-image: url("https://raw.githubusercontent.com/Digivice/digivice.github.io/master/res/media/images/patrol-arctic.jpg");
}

#monitor-container {
    background-color: blue;
}

#monitor {
}

/* CLASS SELECTORS */
.center-me {
    margin: 0 auto;
}

.section {
    height: 80vh;
    width: 100%;
    background-size: cover;
    float: left;
    /*text-align: center;*/
}

.image {
    display: block;
    height: 60vh;
}