
* {
    margin: 0px;
    padding: 0px;
}

/* ID SELECTORS */
#main-container {
    float: left;
    width: 100%;
}


#wrapper {
    width: 70%;
    margin: 0 auto;
}

#top-section {
    background: red;
    height: 70vh;
}

#mid-section {
    background: green;
    height: 70vh;
}

#bottom-section {
    background: blue;
    height: 70vh;
}




/* CLASS SELECTORS */
.section {
    width: 100%;
}